@font-face { 
  font-family: Casino; 
  src: url('../fonts/blackjack.rollin.ttf'); 
} 

body {
  font-family: Casino;
 /* border: 1px solid black; */
}

html { 
  background: url('../imgs/casino-background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#intro {
  text-align: center;
}

#board {
  width: 90%;
  background: Green;
  margin: 10px auto;
  padding: 10px;
}

#controls {
  width: 90%;
  background: white;
  margin: 0 auto;
  border-radius: 5px;
  padding: 6px 5px 0px 5px;
}

#new-hand {
  color: white;
  background: #CD5C5C;
}

#player-stats {
  border-top: 1px solid black;
}

#help-text, #error-div {
  background: white;
  width: 600px;
  height: 100px;
  text-align: center;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px -300px;
}

#winner-pic {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px -200px;
}

#loser-pic {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -137px -250px;
}

img#peek {
  margin: 0;
  display: none;
}
/*
div#bet-and-play {
  position: inline-block;
}

p#instructions, p#error {
  margin: 0;
}
*/

p.stat-item {
  margin-bottom: 0.5em;
}
.centered {
 text-align: center;
}

.button-control {
  color: white;
  background-color: green;
  border-color: green;
}

.button-control:hover {
  color: black;
  border-color: black;
}

p.player-label, p.cash {
  border-bottom: 1px solid black;
  margin-bottom: 0.25em;
}

.player-section {
  background-image: url('../imgs/poker-background.jpg');
  background-size: cover;
  border: 1px solid black;
  height: 220px;
  margin: 10px;
}

.stats {
  height: 95%;
  margin: 20px;
  padding: 5px;
  background: white;
  width: 100%;
}

.cards {
  width: 95%;
  height: 95%;
}
.cards img {
  width: 100px;
  height: 150px;
  margin: 10px;
}
