@font-face { 
  font-family: Casino; 
  src: url('../fonts/blackjack.rollin.ttf'); 
} 

body {
  font-family: Casino;
 /* border: 1px solid black; */
}

html { 
  background: url('../imgs/casino-background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#intro {
  text-align: center;
}

#board {
  width: 90%;
  background: Green;
  margin: 10px auto;
  padding: 10px;
}

#winner-pic {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px -200px;
}

#loser-pic {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -137px -250px;
}


.player-section {
  background-image: url('../imgs/poker-background.jpg');
  background-size: cover;
  border: 1px solid black;
  height: 220px;
  margin: 10px;
}

.stats {
  height: 95%;
  margin: 20px;
  padding: 5px;
  background: white;
  width: 100%;
}

.cards {
  width: 95%;
  height: 95%;
}
.cards img {
  width: 100px;
  height: 150px;
  margin: 10px;
}
